/* Sets border-box for the navbar component */
* {
  box-sizing: border-box;
}
/* Sets properties common for all columns */
[class*="footer-col-"] {
  float: left;
}
/*Creates a grid patterns*/
.footer-col-1 {
  width: 15%;
}
.footer-col-2 {
  width: 56%;
}
.footer-col-3 {
  width: 30%;
  padding: 0px;
}

/*Sets styles for footer*/
.footer {
  margin-top: 5%;
  background-color: white;
  position: absolute;
  bottom: 1%;
  left: 0;
  width: 100%;
  height: 7%;
  align-items: center;
}
/*Sets style for LinkedIn-link*/
.linkedinImg {
  width: 25px;
  height: 25px;
  margin: 0.7%;
  margin-left: 4%;
  cursor: pointer;
}

/*Creates a hover effect on LinkedIn picture */
.linkedinImg:hover {
  transform: scale(1.3);
}

/*Sets style for GitHub-link*/
.github {
  width: 25px;
  height: 25px;
  margin: 0.7%;
  cursor: pointer;
}

/*Creates a hover effect on GitHub picture */
.github:hover {
  transform: scale(1.3);
}
.contactInfo {
  margin: -0.7%;
  text-align: right;
  font-family: "Cinzel", serif;
  font-size: 0.9rem;
}
/*
  text-align: right;
  margin-left: 65%;
  top: 30%;
  padding: 0;
}
  */
