/* Sets style for the div that contains the contact-button.*/
.contact {
  position: absolute;
  bottom: 38%;
}

/* Sets the style on the contact-button*/
.contactButton {
  position: relative;
  border: solid white 1px;
  background: transparent;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  padding: 5% 13%;
  color: white;
  cursor: pointer;
}

/* Sets the hover effects on the contact-button*/
.contactButton:hover {
  background-color: whitesmoke;
  opacity: 0.5;
  color: black;
}
