/* Sets style for the div that contains the contact-button.*/
.contact {
  position: absolute;
  bottom: 38%;
}

/* Sets the style on the contact-button*/
.sendContactButton {
  text-decoration: none;
  margin-left: 26rem;
  margin-bottom: 18%;
  border: solid white 2px;
  background: transparent;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  padding: 5px 17px;
  margin-top: 20px;
  color: white;
  font-weight: 550;
  cursor: pointer;
  z-index: 2;
}

/* Sets the hover effects on the contact-button*/
.sendContactButton:hover {
  background-color: whitesmoke;
  opacity: 0.5;
  color: black;
}
