.textbox {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 50;
  letter-spacing: 5px;
  color: white;
  font-family: "Cinzel", serif;
}

.developer {
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: 50;
  color: white;
  letter-spacing: 6px;
  margin-top: -25px;
}

.texts {
  top: 40%;
  position: absolute;
  text-align: center;
}
