/* Sets style for the div that contains the contact-button.*/
.contact {
  position: absolute;
  bottom: 30%;
}

/* Sets the style on the contact-button*/
.contactButton {
  position: relative;
  border: solid black 1px;
  background: transparent;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
  z-index: 2;
}

/* Sets the hover effects on the contact-button*/
.contactButton:hover {
  background-color: whitesmoke;
  opacity: 0.5;
}
